**/terraform.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfplan
**/.terraform/**
**/crash.log
**/*.tfplan
**/*.tf.disabled
debuglog.txt
provider.tf
**/terraform_plugins/**
**/.vscode/**
